<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hr.modulessy.mapper.PyBalanceMapper">
  <resultMap id="BaseResultMap" type="cn.hr.modulessy.entity.PyBalance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="balance_date" jdbcType="DATE" property="balanceDate" />
    <result column="balance_money" jdbcType="DECIMAL" property="balanceMoney" />
    <result column="bill_no" jdbcType="VARCHAR" property="billNo" />
    <result column="bill_real_money1" jdbcType="DECIMAL" property="billRealMoney1" />
    <result column="bill_real_money2" jdbcType="DECIMAL" property="billRealMoney2" />
    <result column="pay_no" jdbcType="VARCHAR" property="payNo" />
    <result column="pay_use_money1" jdbcType="DECIMAL" property="payUseMoney1" />
    <result column="pay_use_money2" jdbcType="DECIMAL" property="payUseMoney2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_no, balance_date, balance_money, bill_no, bill_real_money1, bill_real_money2, 
    pay_no, pay_use_money1, pay_use_money2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from py_balance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from py_balance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hr.modulessy.entity.PyBalance">
    insert into py_balance (id, user_no, balance_date, 
      balance_money, bill_no, bill_real_money1, 
      bill_real_money2, pay_no, pay_use_money1, 
      pay_use_money2)
    values (#{id,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, #{balanceDate,jdbcType=DATE}, 
      #{balanceMoney,jdbcType=DECIMAL}, #{billNo,jdbcType=VARCHAR}, #{billRealMoney1,jdbcType=DECIMAL}, 
      #{billRealMoney2,jdbcType=DECIMAL}, #{payNo,jdbcType=VARCHAR}, #{payUseMoney1,jdbcType=DECIMAL}, 
      #{payUseMoney2,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.hr.modulessy.entity.PyBalance">
    insert into py_balance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="balanceDate != null">
        balance_date,
      </if>
      <if test="balanceMoney != null">
        balance_money,
      </if>
      <if test="billNo != null">
        bill_no,
      </if>
      <if test="billRealMoney1 != null">
        bill_real_money1,
      </if>
      <if test="billRealMoney2 != null">
        bill_real_money2,
      </if>
      <if test="payNo != null">
        pay_no,
      </if>
      <if test="payUseMoney1 != null">
        pay_use_money1,
      </if>
      <if test="payUseMoney2 != null">
        pay_use_money2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="balanceDate != null">
        #{balanceDate,jdbcType=DATE},
      </if>
      <if test="balanceMoney != null">
        #{balanceMoney,jdbcType=DECIMAL},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="billRealMoney1 != null">
        #{billRealMoney1,jdbcType=DECIMAL},
      </if>
      <if test="billRealMoney2 != null">
        #{billRealMoney2,jdbcType=DECIMAL},
      </if>
      <if test="payNo != null">
        #{payNo,jdbcType=VARCHAR},
      </if>
      <if test="payUseMoney1 != null">
        #{payUseMoney1,jdbcType=DECIMAL},
      </if>
      <if test="payUseMoney2 != null">
        #{payUseMoney2,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hr.modulessy.entity.PyBalance">
    update py_balance
    <set>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="balanceDate != null">
        balance_date = #{balanceDate,jdbcType=DATE},
      </if>
      <if test="balanceMoney != null">
        balance_money = #{balanceMoney,jdbcType=DECIMAL},
      </if>
      <if test="billNo != null">
        bill_no = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="billRealMoney1 != null">
        bill_real_money1 = #{billRealMoney1,jdbcType=DECIMAL},
      </if>
      <if test="billRealMoney2 != null">
        bill_real_money2 = #{billRealMoney2,jdbcType=DECIMAL},
      </if>
      <if test="payNo != null">
        pay_no = #{payNo,jdbcType=VARCHAR},
      </if>
      <if test="payUseMoney1 != null">
        pay_use_money1 = #{payUseMoney1,jdbcType=DECIMAL},
      </if>
      <if test="payUseMoney2 != null">
        pay_use_money2 = #{payUseMoney2,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hr.modulessy.entity.PyBalance">
    update py_balance
    set user_no = #{userNo,jdbcType=VARCHAR},
      balance_date = #{balanceDate,jdbcType=DATE},
      balance_money = #{balanceMoney,jdbcType=DECIMAL},
      bill_no = #{billNo,jdbcType=VARCHAR},
      bill_real_money1 = #{billRealMoney1,jdbcType=DECIMAL},
      bill_real_money2 = #{billRealMoney2,jdbcType=DECIMAL},
      pay_no = #{payNo,jdbcType=VARCHAR},
      pay_use_money1 = #{payUseMoney1,jdbcType=DECIMAL},
      pay_use_money2 = #{payUseMoney2,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>