<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hr.modulessy.mapper.RdChangeValueMapper">
  <resultMap id="BaseResultMap" type="cn.hr.modulessy.entity.RdChangeValue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="pre_value1" jdbcType="INTEGER" property="preValue1" />
    <result column="pre_value2" jdbcType="INTEGER" property="preValue2" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, emp_id, user_no, pre_value1, pre_value2, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rd_change_value
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rd_change_value
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hr.modulessy.entity.RdChangeValue">
    insert into rd_change_value (id, date, emp_id, 
      user_no, pre_value1, pre_value2, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{empId,jdbcType=INTEGER}, 
      #{userNo,jdbcType=VARCHAR}, #{preValue1,jdbcType=INTEGER}, #{preValue2,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.hr.modulessy.entity.RdChangeValue">
    insert into rd_change_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="preValue1 != null">
        pre_value1,
      </if>
      <if test="preValue2 != null">
        pre_value2,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="preValue1 != null">
        #{preValue1,jdbcType=INTEGER},
      </if>
      <if test="preValue2 != null">
        #{preValue2,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hr.modulessy.entity.RdChangeValue">
    update rd_change_value
    <set>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="preValue1 != null">
        pre_value1 = #{preValue1,jdbcType=INTEGER},
      </if>
      <if test="preValue2 != null">
        pre_value2 = #{preValue2,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hr.modulessy.entity.RdChangeValue">
    update rd_change_value
    set date = #{date,jdbcType=TIMESTAMP},
      emp_id = #{empId,jdbcType=INTEGER},
      user_no = #{userNo,jdbcType=VARCHAR},
      pre_value1 = #{preValue1,jdbcType=INTEGER},
      pre_value2 = #{preValue2,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>