<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hr.modulessy.mapper.RdReadTypesMapper">
  <resultMap id="BaseResultMap" type="cn.hr.modulessy.entity.RdReadTypes">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="read_id" jdbcType="INTEGER" property="readId" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="water_type_code" jdbcType="VARCHAR" property="waterTypeCode" />
    <result column="allot_text" jdbcType="VARCHAR" property="allotText" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, read_id, user_no, water_type_code, allot_text, amount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rd_read_types
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rd_read_types
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hr.modulessy.entity.RdReadTypes">
    insert into rd_read_types (id, read_id, user_no, 
      water_type_code, allot_text, amount
      )
    values (#{id,jdbcType=INTEGER}, #{readId,jdbcType=INTEGER}, #{userNo,jdbcType=VARCHAR}, 
      #{waterTypeCode,jdbcType=VARCHAR}, #{allotText,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.hr.modulessy.entity.RdReadTypes">
    insert into rd_read_types
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="readId != null">
        read_id,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="waterTypeCode != null">
        water_type_code,
      </if>
      <if test="allotText != null">
        allot_text,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="readId != null">
        #{readId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="waterTypeCode != null">
        #{waterTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="allotText != null">
        #{allotText,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hr.modulessy.entity.RdReadTypes">
    update rd_read_types
    <set>
      <if test="readId != null">
        read_id = #{readId,jdbcType=INTEGER},
      </if>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="waterTypeCode != null">
        water_type_code = #{waterTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="allotText != null">
        allot_text = #{allotText,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hr.modulessy.entity.RdReadTypes">
    update rd_read_types
    set read_id = #{readId,jdbcType=INTEGER},
      user_no = #{userNo,jdbcType=VARCHAR},
      water_type_code = #{waterTypeCode,jdbcType=VARCHAR},
      allot_text = #{allotText,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>