<!DOCTYPE HTML>
<html>
<head>
	<title>400--自来水管理系统资源找不到</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="../images/favicon.icon" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css"/>
	<link rel="stylesheet" href="../assets/css/ie9.css" />
	<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
</head>
<body>
<div id="wrapper">
	<header id="header" >
		<div class="logo">
			<span class="icon fa-diamond"></span>
		</div>
		<div class="content">
			<div class="inner">
				<h1>400</h1>
				<p>你发送了一个错误的请求，不过很快就好了</p>
			</div>
		</div>
		<nav>
			<ul>
				<li><a href="/SyEmp/htmlLogin">首页</a></li>
			</ul>
		</nav>
	</header>
	<!-- Main -->
	<!-- Footer -->
	<footer id="footer">
		<p class="copyright">&copy; Adger 出品</p>
	</footer>
</div>
<!-- BG -->
<div id="bg"></div>
<footer>
<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>
</footer>
</body>
</html>