<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{commons/temp1}::commonHead('湖南省自来水公司营销管理信息系统')"></head>
<body>
<div id="wrapper">
  <div id="header" th:replace="@{commons/temp1}::commonHeadMenu"></div>
  <div id="masthead" th:replace="@{commons/temp1}::commonMasthead('初步审核')"></div> <!-- #masthead -->
  <div id="content" class="xgrid">
    <div class="x12">
      <form id="pageform" action="/BeOrder/list" method="post">
        <h2>正在等待【初步审核】的工单</h2>
        <table class="data display">
          <thead>
          <tr>
            <th width="120">工单号</th>
            <th width="60">类型</th>
            <th width="80">进度</th>
            <th width="90">当前处理部门</th>
            <th width="100">最后操作日期</th>
            <th width="200">用户名称</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr class="odd"th:each="row,status:${lb}" th:class="${status.odd?'odd':'even'}">
            <td><a href="../page/be_orderInfo.html?id=B1-20140105-0001" target="orderInfo" th:text="${row.orderNo}"></a></td>
            <td th:switch="${row.orderType}">
              <p th:case="1">新户</p>
              <p th:case="2">分户</p>
              <p th:case="3">过户</p>
              <p th:case="4">代扣</p>
              <p th:case="5">换表</p>
              <p th:case="6">重签</p>
              <p th:case="7">销户</p>
              <p th:case="*">不知道的类型</p>
            </td>
            <td th:text="${row.stepname}"></td>
            <td th:text="${row.deptName}"></td>
            <td>
              <p th:if="${row.createDate!=null}" th:text="${#dates.format(row.createDate,'yyyy-MM-dd hh:mm:ss')}"></p>
            </td>
            <td th:text="${row.userName}"></td>
            <td><button class="btn-icon btn-small btn-blue btn-check" onClick="location.href = 'be__auditForm.html';"><span></span>处理</button></td>
          </tr>
          </tbody>
        </table>
        <div class="page" th:utext="${page}">
        </div>
      </form>
    </div> <!-- .x12 -->
  </div> <!-- #content -->
  <div id="footer" th:replace="@{commons/temp1}::commonFooter"></div> <!-- #footer -->
</div> <!-- #wrapper -->
<footer th:replace="@{commons/temp1}::commonFooterJS"></footer>
<script type="text/javascript">
    $(document).ready ( function ()
    {
        Dashboard.init ();
    });
</script>
//分页跳转的函数
<script type="text/javascript">
    function tijiao(p){
        $("#page").val(p);
        $("#pageform").submit();
    }
</script>
</body>
</html>