<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{commons/temp1}::commonHead('成功页面--湖南省自来水公司营销管理信息系统')">
</head>
<style type="text/css">
  .color { color:#009933; }
</style>
<body>
<div id="wrapper">
  <div id="header" th:replace="@{commons/temp1}::commonHeadMenu">
  </div>

  <div id="masthead" th:replace="@{commons/temp1}::commonMasthead('用户申请')">
  </div>

  <div id="content" class="xgrid" >
    <div class="x12">
      <h2 style="color:red;">啊哦！出错了！</h2>
      <div style="min-height:300px;">
        <img style="float:left; margin-top:80px;" src="../images/error.jpg" />
        <div style="padding-top:100px;padding-left:200px; color:red;">
          这是一个出错演示页面。<br/>
          不知道因为什么原因，出现了一个错误。<br/>
          建议你点击返回后，刷新重试。
        </div>
      </div>
      <div class="clear"></div>
      <div style="text-align:center;">
        <button class="btn" onClick="history.back(-1);">返回</button>
      </div>
    </div> <!-- .x12 -->
  </div>

  <div id="footer" th:replace="@{commons/temp1}::commonFooter"><!-- #footer -->
  </div>
</div>
<footer th:replace="@{commons/temp1}::commonFooterJS"></footer>
<script type="text/javascript">
    $(document).ready ( function ()
    {
        Dashboard.init ();
    });
</script>
</body>
</html>