<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{commons/temp1}::commonHead('修改密码--湖南省自来水公司营销管理信息系统')">
</head>
<body>
<div id="wrapper">
  <div id="header" th:replace="@{commons/temp1}::commonHeadMenu">
  </div>
  <div id="masthead" th:replace="@{commons/temp1}::commonMasthead('用户申请')">
  </div>

	<div id="content" class="xgrid">
		<div class="x12">
			<h2>修改密码</h2>
			<div class="form label-inline uniform">
				<div class="field"><label for="id">员工姓名</label> <input id="id" name="fname" size="50" type="text" class="medium" disabled="disabled" th:value="${user}"/></div>
        <form action="/SyEmp/currentPwd" method="post">
				<div class="field"><label for="currentPwd">当前密码</label> <input id="currentPwd" name="pwd" size="50" type="password" class="medium"/></div>
				<div class="field"><label for="newPwd">新密码</label> <input id="newPwd" name="newPwd" size="50" type="password" class="medium" /></div>
				<div class="field"><label for="confimPwd">确认新密码</label> <input id="confimPwd" size="50" type="password" class="medium" /></div>
				<div class="buttonrow">
					<button type="submit" class="btn" onclick="return cheack()">确定</button>
					<button class="btn btn-grey" onClick="history.back(-1);">返回</button>
				</div>
        </form>
			</div>
		</div>
	</div>
  <script>
    function cheack() {
        let currentPwd = $("#currentPwd").val();
        let newPwd = $("#newPwd").val();
        let confimPwd = $("#confimPwd").val();
        if(currentPwd == null || currentPwd == ''){
            alert("请输入当前密码")
            return false;
        }
        if(newPwd == null || newPwd == ''){
            alert("请输入新密码")
            return false;
        }
        if(confimPwd == null || confimPwd == ''){
            alert("请输入确认新密码")
            return false;
        }
        if(newPwd != confimPwd){
            alert("两次输入的密码不一样")
            return false;
        }else{
            return true;
        }
    }
  </script>

  <div id="footer" th:replace="@{commons/temp1}::commonFooter">
  </div>
</div> <!-- #wrapper -->
<footer th:replace="@{commons/temp1}::commonFooterJS">
</footer>
<script type="text/javascript">
$(document).ready ( function ()
{
	Dashboard.init ();
});
</script>
</body>
</html>