<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{commons/temp1}::commonHead('湖南省自来水公司营销管理信息系统')">
</head>
	<style type="text/css">
	table.data thead th { vertical-align:middle; text-align:center; }
	</style>
<body>
<div id="wrapper">
	<div id="header" th:replace="@{commons/temp1}::commonHeadMenu">
	</div>
	<div id="masthead" th:replace="@{commons/temp1}::commonMasthead('用户申请')">
	</div>
	<div id="content" class="xgrid" >
		<div class="x12">
			<h2>快捷代扣</h2>
			<div class="searchUserDiv">
				用户编码 <input value="0100000987" />
				用户简码 <input value="张三" />
				用户姓名 <input />
				联系电话 <input />
				家庭住址 <input />
				<button class="btn btn-small btn-icon btn-person"><span></span>查询用户</button>
			</div>
			<br/><br/>
			<div class="form label-inline uniform">
				<h3 style="width:50%;">快捷代扣</h3>
				<div class="field"><label for="id">用户编码</label> <input id="id" name="fname" size="50" type="text" class="medium" disabled="disabled" value="0100000987" /></div>
				<div class="field"><label for="name">用户姓名</label> <input id="name" name="lname" size="50" type="text" class="medium" disabled="disabled" value="张三" /></div>
				<div class="field"><label for="name">原收款方式</label> <input id="name" name="lname" size="50" type="text" class="medium" disabled="disabled" value="坐收" /></div>
				<div class="field"><label for="name">原开户银行</label> <input id="name" name="lname" size="50" type="text" class="medium" disabled="disabled" value="" /></div>
				<div class="field"><label for="name">原银行账号</label> <input id="name" name="lname" size="50" type="text" class="medium" disabled="disabled" value="" /></div>
				<div class="field"><label for="name">新收款方式</label> <select style="width:158px;">
											<option>坐收</option>
											<option>走收</option>
											<option selected="selected">银行代扣</option>
										</select></div>
				<div class="field"><label for="name">新开户银行</label> <input id="name" name="lname" size="50" type="text" class="medium" value="" /></div>
				<div class="field"><label for="name">新银行账号</label> <input id="name" name="lname" size="50" type="text" class="medium" value="" /></div>
				<div class="buttonrow">
					<button class="btn">保存银行代扣设置</button>
				</div>
			</div>
		</div> <!-- .x12 -->
	</div> <!-- #content -->
</div> <!-- #content -->
<div id="footer" th:replace="@{commons/temp1}::commonFooter">
</div> <!-- #footer -->
</div> <!-- #wrapper -->
<footer th:replace="@{commons/temp1}::commonFooterJS">
</footer>
<script type="text/javascript">
$(document).ready ( function ()
{
	Dashboard.init ();
});
</script>
</body>
</html>